.body{
  background-color: rgb(227, 227, 243);
}
.App {
  text-align: center;
  padding: 40px;
}

input[type='number'] {
  padding: 5px;
  margin: 5px;
 
}

button {
  padding: 8px 16px;
  margin-top: 10px;
 
  
}
span{
  border-radius: 10%;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
  
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
h1{
  border: solid 2px steelblue;
}
.h{
  background-color: cadetblue;
}

#card1{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 50%;
  margin-left: 320px;
 
 background-color: cyan;
 
}
#h1{
  background-color: rgb(110, 228, 232);
  border-radius: 30%;
}
#main-card{
  background-color: whitesmoke;
}
